
body {
height: 90%;
padding: 0;
margin: 0;
background-image: url("bg1.png");
background-repeat: no-repeat, repeat;
background-size:cover;
background-color: #cccccc;
}

html {
height: 100%;
padding: 0;
margin: 0;
}

.base{
    width: 100%;
    height: 100%;
}

.Headline{
    text-align: center;
    font-family: Futura, Trebuchet MS, Arial, sans-serif;
  /*  font-family: "Times New Roman", Times, serif; */
    margin: auto;
    position: relative; top: 5px; left: 380px;
    display: inline-block;
}

.modal-body {
    background-color: rgba(0, 0, 0, 0);
}

.modal-header {
    color: black;
    background-color: rgba(0, 0, 0, 0);
    font-size: 60px;    
}

.dropdown-submenu {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
}

.dropdown-submenu .dropdown-menu {
    background-image: url("bg1.png");
    background-repeat: no-repeat, repeat;
    background-size:cover;
    top: 0;
    left: 100%;
    margin-top: -1px;
}

.FilterMultiDrop {
    position: relative; top: 5px; left: 1px;
    display: inline-block;
}

/*#menu{
	width: 100%;
	height: 10%;
}*/

.treeTextDiv {
    display: inline-block;
}

#treeText {
    font-size: 25px; 
    color:white;
    position: fixed; 
    top: 90px; 
    left: 63px;
    }

.treeInfo {
    position: relative; 
    bottom: 3px; 
    left: 20px;
    display: inline-block;
}

.tagTextDiv {
    display: inline-block;    
}

#tagText {
    font-size: 25px; 
    color:white;
    position: fixed; 
    top: 90px; 
    left: 843px;
    /*right: 200px;*/
    }

.tagInfo {
    position: relative; 
    bottom: 3px; 
    left: 753px;
    display: inline-block;
}

#treemap {

 /*   border: 3px solid green; */

    width: 50%;
    height: 90%;
    float: left;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.wcdiv {
    width: 50%;
    height: 90%;
    background-image: url("tv11.png");
  /*  background-repeat: no-repeat, repeat; */
    background-size:cover;
    object-fit: contain;
 /* background-color: rgba(255, 255, 255, 1); */
    float: left; 

}

#word-cloud {
   /* border: 3px solid green; */
   /*   background-color: rgba(255, 255, 255, 0.8);  */
   /* width: 45%; */

    width: 100%;
    height: 100%;
    float: right; 
    bottom: 0;
    right: 0;
    z-index: 1;
}
/*
	Styling of dropdown
*/
.navbar, .dropbtn {
 /*   background-color: #4CAF50;*/
    color: white;
    background-color: rgba(0, 0, 0, 0.06);
    padding: 16px; 
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.2);
    min-width: 160px;
   /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
    z-index: 1;
}

.dropdown-content a {
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
  /*  padding: 12px 16px; */
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover, .dropbtn {
    background-color: rgba(0, 0, 0, 0.2);
   /* opacity: .4; */
}

.thl {
    position:absolute;
    left: 140px;
    font-size: 14px;
    top: 10px;
}

.TimeHeadline {
    display: inline-block;
    color: black;
}

.chl {
    position:absolute;
    font-size: 14px;
    left: 20px;
    top: 10px;
}

.CountryHeadline {
    display: inline-block;
    color: black;

}

.filterSelect {
    position: relative;

    color: black;

}
.filterSelect2 {
    position: relative;
    color: black;
}


 /* 
	Styling of Navigation Bar
 */
 /*
.navbar {
    overflow: hidden;
    background-color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    cursor: pointer;
    font-size: 16px;    
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
    background-color: #3e8e41;
}

/*.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 10;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}*/